
@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow|Bree+Serif&display=swap');

:root {
--heading-font: 'Bree Serif', serif;
--paragraph-font: 'Archivo Narrow', sans-serif;
}

header {
    font-size: 25px;
    text-align: center;
    background-color: #4C5F6B;
    border-radius: 1.2em;
    padding-bottom: 5px;
    padding-top: 5px;
}

h1 {
    font-family: 'Bree Serif', serif;
    letter-spacing: 1px;
  }

html {
    font-family: 'Archivo Narrow', sans-serif;
    margin: 1rem auto;
    max-width: 850px;
  }

.content {
    max-width: 750px;
    margin: 0 auto;
}

main {
  padding: 1rem;
  background-color: #83A0A0;
  border-radius: 1em;
}

#lastupdated {
    display: inline;
}

footer {
    margin: 0 auto;
    text-align: center;
    background-color: #4C5F6B;
    border-radius: 1em;
    padding-bottom: 5px;
    padding-top: 5px;
}

nav a:visited,
nav a:link {
  color: #2a1429;
}

nav a:hover {
  color: #83A0A0;
  padding: 0.25em;
  background-color:  #566b79;
  border-radius: 5px;
}

#img1 {
    float: right;
    margin-right: 30px;
    margin-top: 10px;
    width: 200px;
    border-radius: 1.1em;
    box-shadow: 5px 5px 20px rgb(0, 0, 0);
}

footer a:link,
footer a:visited {
  color: black;
}
footer a:hover {
  color: #83A0A0;
}